# exclude docs folder from linitng
docs/
/node_modules
/.storybook
/ios/**
/android/**
.bundle/
packages/**
patches/**
*.stories.tsx

.eslintrc.js
ReactotronConfig.js
/__mocks__
/app/src/assets

# ignore test files
*.test.tsx
*.test.ts

# ignore mock files
*.mock.ts
*.mock.tsx